body {
  color: white;
  background-color: #0b0c58;
  height: 100vh;
}

.quiz-container,
.history-container {
  display: grid;
  flex-wrap: wrap;
  align-content: center;
  font-size: 50px;
  margin: auto;
  border-radius: 10px;
  height: 60vh;
  width: 650px;
  text-align: center;
  color: white;
}

.options-grid,
.his-option-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

button {
  background-color: darkblue;
  color: white;
  padding: 20px;
  font-size: 18px;
  border-radius: 8px;
  border: 2px solid darkblue;
  width: 200px;
  cursor: pointer;
}

button:hover {
  background-color: #5b0c58;
}

#points,
#numQues {
  color: white;
  font-size: 50px;
  margin-left: 200px;
}

.sum,
.summary {
  display: grid;
  flex-wrap: wrap;
  align-content: center;
  font-size: 50px;
  margin: auto;
  border-radius: 10px;
  width: 650px;
  text-align: center;
  color: white;
}
